body{
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #0f172a;
}

.header{
    background-color: #020617;
    display: flex;
    justify-content: center;
    border-bottom: solid 4px #64748b;
}
h1{
    color: #94a3b8;
}
.container, .score{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:40px
}
.score{
    gap: 0px;
}
.options{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    
}

.result, .scoreboard{
    margin-top: 40px;
    width: 400px;
    height: 100px;
    border: 5px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.result{
    background-color: lightblue;
    border-radius: 10px;
}
.scoreboard{
    height: 50px;
    width: 120px;
    border:red solid ;
    border-radius: 24px;
}
.board{
    display: flex;
    text-align: center;
    gap: 40px;
    
}
.btn{
    height: 100px;
    width: 120px;;
    font-weight: bold;
    font-size: medium;
    text-align: center;
}
